FRONTEND_PORT=
GATEWAY_PORT=
IDENTITY_SERVICE_PORT=
TRIP_SERVICE_PORT=
INTEGRATION_SERVICE_PORT=

IDENTITY_DB_HOST=
IDENTITY_DB_PORT=
TRIP_DB_PORT=

IDENTITY_DB_NAME=
IDENTITY_DB_USER=
IDENTITY_DB_PASSWORD=

TRIP_DB_NAME=
TRIP_DB_USER=
TRIP_DB_PASSWORD=