IDENTITY_DB_NAME=identity_db
IDENTITY_DB_USER=tripbuddy_identity_user
IDENTITY_DB_PASSWORD=change_me

TRIP_DB_NAME=trip_db
TRIP_DB_USER=tripbuddy_trip_user
TRIP_DB_PASSWORD=change_me

IDENTITY_JWT_SECRET=change_me
